# Assignment 2

In [4]:
#conversion of kilometers to miles
n=float(input("enter value in kilometers"))
miles=n*(0.621371)
print("after coverting kilometer to miles:",miles)

enter value in kilometers2
after coverting kilometer to miles: 1.242742

In [29]:
#conversion of celsius to fahrenheit
celsius=float(input("enter celsius value"))
fahrenheit=(celsius*1.8)+32
print("after conversion of celsius to fahrenheit:",fahrenheit)

enter celsius value3.5
after conversion of celsius to fahrenheit: 38.3

In [30]:
#display calender
import calendar
year=int(input("enter a year"))
print("the selected year calendar",calendar.calendar(year))

enter a year2009
the selected year calendar                                   2009

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [31]:
#quadratic equation
import cmath
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
d=(b**2)-(4*a*c)
r1=(-b+ (cmath.sqrt(d)))/(2*a)
r2=(-b- (cmath.sqrt(d)))/(2*a)
print("the roots of quadratic equation are:",r1,r2)

enter a value3
enter b value5
enter c value6
the roots of quadratic equation are: (-0.8333333333333334+1.1426091000668406j) (-0.8333333333333334-1.1426091000668406j)

In [32]:
#swap two variables without third variable
a=int(input("enter first value"))
b=int(input("enter second value"))
print("before swap:",a,b)
a,b=b,a
print("after swap:",a,b)

enter first value4
enter second value8
before swap: 4 8
after swap: 8 4